.row {
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1em;
    text-align: center;
}

.button-container {
    align-self: end;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.chartContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}