.row {
    background-color: rgba(0, 0, 0, 0.04);
    margin-bottom: 1em;
    text-align: center;
}

.button-container {
    align-self: end;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}

.chartContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.charts-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover {
    color: purple;
}

@media (max-width: 600px) {
    .charts-flex-container {
        flex-direction: column;
    }
}