tr.mat-mdc-footer-row td {
    font-weight: bold;
}

.mat-sort-header-container {
    align-items: center;
}

th {
    text-align: center;
}

table{
    width: 100%;
    padding: 1em;
    border: 1px solid;
}

.accordion-button:focus, .accordion-button:not(.collapsed) {
    background-color: #f4d8fa;
    color: purple;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    border-color: #ddd;
}
