<!DOCTYPE html>
<div class="container">
    <div class="welcome-section">
        <div class="text-section">
            <h3>Welcome!</h3>
            <p>
                This site is made for you to explore your financial situation and to view a breakdown of your income and
                expenses.
                <br>
                This site should be used as an <span class="purple-text">eye opening tool</span> to see where your moeny
                is going!
            </p>
        </div>
        <div class="image-section px-2">
            <img src="../../assets/images/welcome.jpg" alt="Welcome Image">
        </div>
    </div>
    <hr>
    <div class="overview-section">
        <div class="image-section px-2">
            <a routerLink="/visualisations">
                <img src="../../assets/images/overview.jpg" alt="Overview Image">
            </a>
        </div>
        <div class="text-section">
            <a routerLink="/visualisations">
                <h3>Overview</h3>
            </a>
            <p>
                On our Overview page you can see the <span class="purple-text">Irish national</span> averages for both
                income and expenses. If you are logged
                in and have created your budget, you will see your very own <span class="purple-text">personalised
                    recommendations</span>!
                <br>

            </p>
        </div>
    </div>
    <hr>
    <div class="budget-planner-section">
        <div class="text-section">
            <a routerLink="/budget-planner">
                <h3>Budget Planner</h3>
            </a>
            <p>
                Use our interactive tool to see how much money you have coming in and <span class="purple-text">where
                    it's all going</span>.
                <br>
                If you are logged in, you will be able to save your income and expenses data to comeback and update it
                at a later date.
            </p>
        </div>
        <div class="image-section px-2">
            <a routerLink="/budget-planner">
                <img src="../../assets/images/budget-planner.jpg" alt="Budget Planner Image">
            </a>
        </div>
    </div>
    <hr>
    <div class="overview-section">
        <div class="image-section px-2">
            <a routerLink="/budget">
                <img src="../../assets/images/budget-breakdown.jpg" alt="Budget Breakdown Image">
            </a>
        </div>
        <div class="text-section">
            <a routerLink="/budget">
                <h3>Budget Breakdown</h3>
            </a>
            <p>
                Explore detailed insights into your <span class="purple-text">spending habits</span>, understand where
                your money goes, and identify
                ways to cut costs and save.
                <br>
                You will be shown how much each expense contribute to your overall expenditure.
            </p>
        </div>
    </div>
    <hr>
</div>