<!DOCTYPE html>
<div class="card">
    <div class="card-body">
        <h1 class="card-title">Password Reset</h1>
        <div *ngIf="showError" class="alert alert-danger" role="alert">
            <p>
                Unable to change your password currently. Re-check your email.
            </p>
        </div>
        <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <div class="mb-3 row">
                <label for="email" class="col-form-label col-sm-2">Email:</label>
                <div class="col-md-5">
                    <input type="email" id="email" formControlName="email" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('email') && hasError('email', 'email')">Please provide a valid email</em>
                    <em *ngIf="validateControl('email') && hasError('email', 'required')">Email is required</em>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="password" class="col-form-label col-sm-2">New Password:</label>
                <div class="col-md-5">
                    <input type="password" id="password" formControlName="password" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('password') && hasError('password', 'required')">Password is required</em>
                </div>
            </div>
            <div class="mb-3 row">
                <label for="confirm" class="col-form-label col-sm-2">Confirm Password:</label>
                <div class="col-md-5">
                    <input type="password" id="confirm" formControlName="confirm" class="form-control" />
                </div>
                <div class="col-md-5">
                    <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
                    <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
                </div>
            </div>
            <br>
            <div class="mb-3 row">
                <div class="col-md-12 right-align">          
                    <button type="submit" class="btn btn-info" [disabled]="!resetPasswordForm.valid" style="background-color: purple;">Reset Password</button>
                </div>
            </div>            
            <div *ngIf="errorString.length !== 0">
                <p><em>{{ errorString }}</em></p>
            </div>
        </form>
    </div>
  </div>
