em{
    color: #e71515;
    font-weight: bold;
}

.ng-invalid.ng-touched{
    border-color: red;
}

.card{
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 1px #cabcbc;
}

button {
    background-color: purple;
    color: white;
}

.right-purple-btn {
    float: right;
    padding: 10px;
    background-color: purple;
    color: white;
}

.button-container {
    align-self: end;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}
