.nav {
    display: flex;
    justify-content: space-between;
    background-color: purple;
    color: white;
}

.item {
    margin-right: 10px;
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    color: lightgrey;
}

.right-links {
    display: flex;
    align-items: center;
}

.account-icon-btn {
    background-color: transparent;
    border-radius: 50%;
    overflow: hidden;
    line-height: 0;
    padding: 10px;
}

.account-icon-btn mat-icon {
    color: white;
}