.nav {
    display: flex;
    justify-content: space-between;
    background-color: #1976d2; /* Change background color as needed */
    color: white; /* Text color */
}

.item {
    margin-right: 10px; /* Adjust spacing between links */
}

.link {
    text-decoration: none; /* Remove text decoration */
    color: inherit; /* Inherit text color */
}

.link:hover {
    color: lightgrey; /* Change hover text color */
}

.right-links {
    display: flex;
    align-items: center;
}
