<!DOCTYPE html>
<mat-toolbar color="primary" class="nav">
    <div class="left-links">
        <span class="item"><a routerLink="#" class="link">Home</a></span>
        <span class="item"><a routerLink="/budget-planner" class="link">Budget Planner</a></span>
    </div>
    <div class="right-links">
        <mat-menu #accountMenu="matMenu">
            <span *ngIf="!isUserAuthenticated">
                <button mat-menu-item>
                    <a routerLink="/register" class="link">Register</a>
                </button>
                <button mat-menu-item>
                    <a routerLink="/login" class="link">Login</a>
                </button>
            </span>
            <span *ngIf="isUserAuthenticated">
                <button mat-menu-item (click)="logout()">
                    Logout
                </button>
                <button mat-menu-item>
                    <a routerLink="/reset-password" class="link">Reset Password</a>
                </button>
                <button mat-menu-item>
                    <a routerLink="/budget" class="link">View Budget</a>
                </button>
            </span>  
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="accountMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>

