<!DOCTYPE html>
<mat-toolbar color="primary" class="nav">
    <div class="left-links">
        <span class="item"><a routerLink="#" class="link">Home</a></span>
        <span class="item"><a routerLink="/budget-planner" class="link">Budget Planner</a></span>
        <ng-container *ngIf="isUserAuthenticated">
            <span class="item"><a routerLink="/budget" class="link">My Budget</a></span>
        </ng-container>
    </div>
    <div class="right-links">
        <mat-menu #accountMenu="matMenu">
            <span *ngIf="!isUserAuthenticated">
                <a routerLink="/register" class="link">
                    <button mat-menu-item>Register</button>
                </a>
                <a routerLink="/login" class="link">
                    <button mat-menu-item>Login</button>
                </a>
            </span>
            <span *ngIf="isUserAuthenticated">
                <button mat-menu-item (click)="logout()">
                    Logout
                </button>
                <a routerLink="/reset-password" class="link">
                    <button mat-menu-item>Reset Password</button>
                </a>
                <a routerLink="/budget" class="link">
                    <button mat-menu-item>My Budget</button>
                </a>
            </span>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="accountMenu" class="account-icon-btn">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>