<!DOCTYPE html>
<div class="py-3 px-5" [ngStyle]="{'background-color': getBackgroundColor()}">
    <h5 class="py-2">{{expenseName}}</h5>
    <hr>
    <div class="row px-2">
        <div class="col-5">
            Your Expense:
        </div>
        <div class="col">
            € {{userExpense}}
        </div>
    </div>
    <div class="row px-2">
        <div class="col-5">
            National Average:
        </div>
        <div class="col">
            € {{csoExpense}}
        </div>
    </div>
    <hr>
    <div *ngIf="over == status.Over">
        <div class="row px-2">
            <div class="col-5">
                Overspending:
            </div>
            <div class="col">
                € <strong>{{difference}}</strong>
            </div>
        </div>
        <hr>
        <div>
            For {{householdSize}}, you are <strong>overspending</strong> by €{{difference}} weekly.
        </div>
    </div>
    <div *ngIf="over == status.Under">
        <div class="row px-2">
            <div class="col-5">
                Underspending:
            </div>
            <div class="col">
                € <strong>{{difference}}</strong>
            </div>
        </div>
        <hr>
        <div>
            For {{householdSize}}, you are <strong>underspending</strong> by €{{difference}} weekly.
        </div>
    </div>
    <hr>
</div>