.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.background-purple {
    background-color: rgb(250, 236, 250);
}

.content-container {
    padding-left: 10em;
}

@media (max-width: 600px) {
    .content-container {
        padding-left: 4em;
    }
}